:root {
  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
  font-size: 18px;
  line-height: 1.45;
  letter-spacing: 0.18px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100svh;
  background: #03060d;
}

#root {
  width: 100%;
  min-height: 100svh;
  box-sizing: border-box;
}

p {
  margin: 0;
}
